.note-editor.note-frame {border:1px solid #e2e5ec;}
  .note-editor.note-frame .panel-heading.note-toolbar {background:#f7f8fa;}
  .note-editor.note-frame .note-statusbar {background:#f7f8fa;}

.note-editor .note-toolbar .note-btn-group .btn {background:white;border:1px solid #ebedf2;}
  .note-editor .note-toolbar .note-btn-group .btn i {vertical-align:initial;line-height:initial;padding-right:0;color:#74788d;}
  .note-editor .note-toolbar .note-btn-group .btn:hover,
  .note-editor .note-toolbar .note-btn-group .btn:focus,
  .note-editor .note-toolbar .note-btn-group .btn:active,
  .note-editor .note-toolbar .note-btn-group .btn.active {background:transparent;color:#595d6e;}

.note-editable .table.table-bordered th, .note-editable .table.table-bordered td {border:1px solid #e2e5ec;}

.is-valid .note-editor {border-color:#1dc9b7;}
.is-invalid .note-editor {border-color:#fd397a;}