.note-editor.note-frame {border:0;}

.note-editor.note-frame .note-toolbar {border:0;background:transparent;padding:0 0 10px 0;}

.note-btn-group>.note-btn:first-child,
.note-btn-group>.note-btn-group:first-child {margin-left:0;}

.note-editor .note-toolbar .note-btn-group.note-view {margin-right:0;}

.note-editor.note-frame .note-editing-area {border:1px solid #ebedf2;border-bottom:0;border-top-left-radius:4px;border-top-right-radius:4px;}

.note-editor.note-frame .note-statusbar {border:1px solid #ebedf2;}